# General
.DS_Store
*.log
*.pyc
*.swp
*.env
*.venv
.env.local
.env.development
.env.production
.vscode/
.idea/
__pycache__/
node_modules/
dist/
build/
*.tmp
*.bak
*.cache
*.seed
*.pid
*.pid.lock

# Frontend (React) specific
/client/.env
/client/node_modules/
/client/build/
/client/.cache/
/client/coverage/
/client/.eslintcache
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.next/
/client/out/

# Backend (Python) specific
/server/.env
/server/venv/
/server/env/
/server/.mypy_cache/
/server/.pytest_cache/
/server/__pycache__/
/server/*.py[cod]
/server/*$py.class
/server/.python-version
/server/instance/
/server/web_static/
/server/.coverage
/server/htmlcov/

# Pinecone/OpenAI cache
*.index
*.bin
*.pkl

# Temp files
*.temp
*.tmp
*.swp
*~
~$*

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini